engine-strict=true
# Strictly require node version >= 18.0.0. Required for Express 5.

# ===================================== #
# Supply Chain security hardening       #
# https://pnpm.io/supply-chain-security #
# ===================================== #

minimum-release-age=4320 # 3 days. Applies to all dependencies, including transitive deps

# Uncomment below to authorize an exception to the minimum release age above:
# minimumReleaseAgeExclude:
# - nx@21.6.5
# - webpack@4.47.0 || 5.102.1

block-exotic-subdeps=true # https://pnpm.io/settings#blockexoticsubdeps
trust-policy="no-downgrade"
ignore-scripts=true # this is unnecessary with pnpm but setting anyway e.g. in case someone uses npm by mistake
